<html>

<head>
    <link rel="stylesheet" href="/static/css/model.css">
</head>

<body>
    <!-- 打开弹窗按钮 -->
    <button id="myBtn">打开弹窗</button>
    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <!-- 弹窗内容 -->
        <div class="modal-content">
            <span class="close">✘</span>
            <div class="modal-header">
                <h4>错误提示</h4>
            </div>
            <div class="modal-body">
                <p>弹窗内容...</p>
                <p>弹窗内容...</p>
            </div>
            <div class="modal-footer">
                <!--<h3>弹窗底部</h3>-->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/model.js"></script>
</body>

</html>